body{
    background-color: #202020;
    font-size: 14px;
}
h1{
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(25% - 20px);
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie{
    display: flex;
    justify-content: center;
}

.container{
    color: whitesmoke;
    text-align: justify;
}


